*:focus {
    outline: none;
}
.surface {
  font-size:200%;
  -webkit-user-select:text;
  width:95%;
  font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;}
.surface-caret-container {position:absolute;}

.surface-caret {  -webkit-animation: fadein 1.0s ease-in alternate infinite;}
.menuopened {background:LemonChiffon;}
.selected {background: Highlight;height:120%;color:HighlightText;}

.surface span.remove {color:gray; }
.surface span[data-to]::after {
 content: attr(data-to);
 border-bottom: 2px solid green;
 color:black;
 display: inline-block;
}

.br { white-space: pre;}
.br::after { content:"\A"}

.hl0 {color:red;}
.hl1 {color:pink;}

.vertical { -webkit-writing-mode: vertical-rl; font-size:120%; font-family: "DFKai-SB";}
.wh {
	font-size:140%;
	letter-spacing:0.25em;
	font-family:"ShuoWen";
}

.warichu {
    display: inline-table;
    vertical-align: middle;
    font-family:"微體正黑體";
}
.warichu-left, .warichu-right {
 font-size:50%;
 letter-spacing:1em;
 display: table-row;
}