.docview {}

.btnlinkto-container  {position:relative;background-color:transparent;width:2em;}
.btnlinkto-container:hover {background:silver;border-radius: 10%;}
.btnlinkby-container {position:relative;background-color:transparent;width:2em;}
.btnlinkby-container:hover {background:silver;border-radius: 10%;}
.btnlinkto  {color:brown;font-weight:bold;font-size:200%;cursor:pointer;}
.btnlinkby {color:green;font-weight:bold;font-size:200%;cursor:pointer;}