.docview {}

.btnlinkto-container  {position:relative;background-color:transparent;width:2em;}
.btnlinkto-container:hover {background:silver;}
.btnlinkby-container {position:relative;background-color:transparent;width:2em;}
.btnlinkby-container:hover {background:silver;}
.btnlinkto {visibility:hidden;color:red;font-weight:bold;position:relative;font-size:200%;cursor:pointer;}
.btnlinkby {color:red;font-weight:bold;font-size:200%;cursor:pointer;}