
.stackview {height:100%;}
.splitterPane {overflow:auto}
.viewdiv {max-height:250px;overflow:auto;}
@-webkit-keyframes myselection {
	0%   {border-color:blue;}
	50%  {border-color:yellow;border-width:1px;}
  100% {border-color:blue;}
}