.vsplitbar {
	width: 4px;
	background-color: #ccc;
}
.vsplitbar.active, .vsplitbar:hover {
	background-color: #ccc;
	width: 4px;
	opacity: 0.5;
}

.hsplitbar {
	height: 4px;
	background-color: #ccc;
}
.hsplitbar.active, .hsplitbar:hover {
	background-color: #ccc;
	height: 4px;
	opacity: 0.5;
}