.vsplitbar {
	width: 4px;
	background-color: #c66;
}
.vsplitbar.active, .vsplitbar:hover {
	background-color: #c66;
	width: 4px;
	opacity: 0.5;
}

.hsplitbar {
	height: 4px;
	background-color: #c66;
}
.hsplitbar.active, .hsplitbar:hover {
	background-color: #c66;
	height: 4px;
	opacity: 0.5;
}